@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  height: 250px;
  background: no-repeat url(../img/header-back-large.png);
  background-size: 100%;
  font-family: 'Neucha', cursive;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo img {
  width: 300px;
  filter: drop-shadow(2px 2px 3px rgb(63, 1, 69));
}

.header__tel {
  display: flex;
  font-size: 40px;
  align-items: center;
  filter: drop-shadow(2px 2px 3px rgb(63, 1, 69));
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  font-size: 32px;
  filter: drop-shadow(2px 2px 3px rgb(63, 1, 69));
}

.main {
  height: calc(100vh - 250px);
}

.main__image {
  position: relative;
}

.main__image img {
  position: absolute;
  height: 800px;
  right: 20px;
  top: -90px;
}

.main__content {
  
}
