@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Neucha&display=swap');

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  height: 250px;
  font-family: 'Neucha';
  color: #fff;
}

.header-background {
  position: absolute;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo img {
  width: 300px;
  filter: drop-shadow(2px 2px 3px rgb(63, 1, 69));
}

.header__tel {
  display: flex;
  font-size: 40px;
  align-items: center;
  filter: drop-shadow(2px 2px 3px rgb(63, 1, 69));
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  font-size: 32px;
  filter: drop-shadow(2px 2px 3px rgb(63, 1, 69));
}

.main {
  position: relative;
  height: 700px;
}

.main__image {
  position: relative;
}

.main__image img {
  position: absolute;
  height: 870px;
  right: -150px;
  top: -170px;
}

.main__content {
  position: absolute;
  top: -50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 550px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
}

.main__content-img img {
  width: 248px;
  height: 248px;
  border-radius: 100%;
}

.main__content-head {
  display: flex;
  padding: 40px;
}

.main__content-title {
  padding: 30px 0px 0px 40px;
  font-family: 'Neucha';
  font-size: 40px;
  color: #252525;
}

.main__content-text {
  font-family: 'Montserrat';
  font-style: italic;
  font-size: 20px;
  line-height: 29px;
  color: #252525;
  padding: 0px 40px 50px 40px;
}

.price {
  position: relative;
  height: 1000px;
}

.price-container {
  position: relative;
}

.price-background {
  position: absolute;
  top: -50px;
  width: 1050px;
}

.price__content {
  position: absolute;
  top: 300px;
  right: 0;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 650px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
}

.price__content-wrapper {
  display: flex;
}

.price__content-title {
  padding: 30px 0px 0px 40px;
  font-family: 'Neucha';
  font-size: 40px;
  color: #252525;
}

.price__content-text {
  list-style-type: none;
  font-family: 'Montserrat';
  font-style: italic;
  font-size: 20px;
  line-height: 29px;
  color: #252525;
  padding: 0px 40px 50px 40px;
}

.price__content-cost {
  list-style-type: none;
  font-family: 'Montserrat';
  font-style: italic;
  font-size: 20px;
  line-height: 29px;
  color: #252525;
  padding: 0px 40px 50px 40px;
}

.works__title {
  text-align: center;
  padding: 30px;
  font-family: 'Neucha';
  font-size: 40px;
  color: #252525;
}

.works__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.works__item {
  width: calc((1440px - 20px) / 3);
}

.contacts {
  height: 1000px;
}

.contacts__title {
  padding: 30px 0px;
  text-align: center;
  font-family: 'Neucha';
  font-size: 40px;
  color: #252525;
}

.contacts__image-container {
  position: relative;
}

.contacts__image {
  position: absolute;
  top: -100px;
  right: -230px;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 620px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
  padding-bottom: 20px;
}

.contacts__map-title {
  padding: 30px 0px;
  font-family: 'Neucha';
  font-size: 30px;
  color: #252525;
}

.contacts__tel {
  padding: 30px 0px;
  font-family: 'Neucha';
  font-size: 30px;
  color: #252525;
}

.contacts__sotials {
  display: flex;
  justify-content: space-between;
  width: 620px;
  padding: 30px 0px;
}
